/* Make sure the HTML and body take up the full height */
html{
  margin: 0;
  padding: 0;
  height: 100vh;
}


body.page1 {
  background-image: url("diner.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.page2 {
  background-image: url('detective_back.PNG');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.page3 {
  background-image: url('pinboard.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body.page5 {
  background-image: url('diner_inside.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

body.barista_choice {
  background-image: url('barista_choice.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

body.cook_choice {
  background-image: url('cook_choice.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

body.sus_choice {
  background-image: url('sus_choice.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
}

/* Page 1 */
#title {
  position: absolute;
  top: -260px;
  left: 50px;
  width: 75%;
  height: 75%;
}
/* Page 1 */


/* Container for note and input */
#note-container {
  position: absolute;

  height: 80%;
  width: 80%;
  z-index: 0;
}

/* Note image */
#note {
  top: 50%;
  left: 55%;
  transform: translate( 10%,-10%);
  width: 80%;
  height: 80%;
  z-index: 0;
}

/* Centered input field on top of the note */
#name {
  position: absolute;
  top: 20%;
  left: 57%;
  rotate: 3deg;
  transform: translate(-50%, -50%);
  
  z-index: 2;            
  padding: 10px;
  font-size: 18px;
  width: 10%;            
  text-align: center;    
  border: 2px solid #333;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); 
}

.suspects {
  position: relative;
  height: 400px;
  width: 100%;
  z-index: 1;
}

#barista, #cook, #sus_guy {
  position: absolute;
  width: 65%;
}

#barista {
  top: 50px;
  left: 100px;
  clip-path: inset(100px 640px 0 110px);
}


#cook {
  top: 50px;
  left: 200px;
  clip-path: inset(250px 320px 0 300px);
}


#sus_guy {
  top: 50px;
  left: 300px;
  clip-path: inset(50px 20px 0 665px);
}


@keyframes dissapear {
  from{opacity: 100%;}
  to{opacity: 0%}
}

@keyframes reappear {
  from{opacity: 0%;}
  to{opacity: 100%}
}

@keyframes moveBaristatoMiddle {
  from{top: 50px;
    left: 100px;}
  to{top: 50px;
    left: 500px}
}

@keyframes moveSus_GuytoMiddle {
  from{top: 50px;
    left: 300px;}
  to{top: 50px;
    left: -40px}
}

@keyframes moveBaristaBack {
  from{top: 50px;
    left: 500px;}
  to{top: 50px;
    left: 100px}
}

@keyframes moveSus_GuyBack {
  from{top: 50px;
    left: -40px;}
  to{top: 50px;
    left: 300px}
}
